@using FA.Application.Dtos
@using FA.Application.Dtos.BaseDtos
@using WebApp.Controllers
@model BaseEntityDto
@{
    Guid userId = Guid.TryParse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value, out var parsedUserId)
        ? parsedUserId
        : Guid.Empty;
}

<a asp-controller="@nameof(UserController)[..^10]"
   asp-action="@nameof(UserController.Details)"
   asp-route-id="@Model.Creator.Id">
    @Model.Creator.Username
    @if (Model.Creator.Id == Model.Id)
    {
        <span>(self)</span>
    }
    @if (Model.Creator.Id == userId)
    {
        <span>(you)</span>
    }
</a>
