@using FA.Application.Dtos.AccountDtos
@using WebApp.Controllers
@model AccountDeleteDto

@{
    ViewData["Title"] = "Delete Account";
}

<!-- Page Header-->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2 class="subheading">Are you sure you want to delete you account?</h2>
                    @* <span class="subheading">Here you can find all the blogs.</span> *@

                    <form asp-controller="@nameof(AuthenticationController)[..^10]"
                          asp-action="@nameof(AuthenticationController.DeleteAccount)">

                        <partial name="_ReturnUrlHiddenInput" />

                        <div class="form-floating">
                            <input asp-for="Password" class="form-control" placeholder="..." type="password" autofocus>
                            <label asp-for="Password">Type in your password</label>
                        </div>

                        <br />

                        <div class="form-floating">
                            <button type="submit" class="btn btn-danger">Delete Account</button>
                            <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <!-- Real Content-->
            
            <!-- End of Real Content-->

        </div>
    </div>
</div>
