@using FA.Application.Dtos.Accounts
@using WebApp.Controllers
@model LoginDto

@{
    ViewData["Title"] = "Login";
}

<!-- Page Header-->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Login</h1>
                    @* <span class="subheading">A Blog Theme by Start Bootstrap</span> *@
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <form asp-action="@nameof(AuthenticationController.Login)">
                <div class="form-group mb-2">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control"/>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control"/>
                </div>
                <div class="form-group mb-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a asp-action="@nameof(AuthenticationController.Register)">Don't have an account?</a>
                </div>
            </form>

            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }

        </div>
    </div>
</div>

